# HDF5 files
*.h5

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.pickle
*.lprof

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Emacs backup files
*~
*.bak

# Byte-compiled / optimized / files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.swp
traceback.txt
models

# Plot files
*.svg
*.png
*.jpeg
*.jpg
*.mp4
*.npy
*.npz
*.csv
*.avi
*.gif
*.pdf
snn_network_records
logs
ctf_env_records

# some data folders
nordland_original_data/
oxford_data/
precomputed_matches/

# some VPR tecniques
VPR_Techniques/AlexNet_VPR/
VPR_Techniques/AmosNet/
VPR_Techniques/CALC/
VPR_Techniques/HybridNet/
VPR_Techniques/NetVLAD/
VPR_Techniques/RegionVLAD/
variation_quantified_datasets/
nengo_dl_vanilla_vpr_snn.py
